<h2 mat-dialog-title>Create user</h2>

<mat-dialog-content>
    <form [formGroup]="userForm" (submit)="create()">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            @if (getError('firstName')) {
            <mat-error> {{ getError("firstName") }} </mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
            @if (getError('lastName')) {
            <mat-error> {{ getError("lastName") }} </mat-error>
            }
        </mat-form-field>

        <mat-form-field class="email">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            @if (getError('email')) {
            <mat-error> {{ getError("email") }} </mat-error>
            }
        </mat-form-field>

        @if (error) {
        <span class="app-error">
            {{ error }}
        </span>
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-flat-button
        (click)="create()"
        disabledInteractive
        [disabled]="!userForm.valid"
    >
        Create
    </button>
</mat-dialog-actions>

<mat-progress-bar [class.hidden]="!loading" mode="indeterminate" />
